<!DOCTYPE html>
<html>

<head>
    <title>Main page</title>
    <img src="img/logo.png" width="300px" height="100px">
</head>
<link rel="stylesheet" href="\styles\style.css">
<h1>Cadastro</h1>
<body>
    <form action="/insere" method="POST">
        <label for="nomeDoNome">Nome:</label>
        <input type="text" name="name" id="nameHome">
        <br>
        <label for="preco">Preço:</label>
        <input type="text" name="valor" id="valor">
        <br>
        <button type="submit">Cadastre</button>
    </form>
</body>

</html>