<!DOCTYPE html>
<html>
<link rel="stylesheet" href="\styles\style.css">

<head>
    <title>Search</title>
</head>

<body>
    <h1>Consulta </h1>
    <form action="/Procurar" method="POST">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="nameConsulta">
        <br>
        <label for="valor">Preço:</label>
        <input type="text" name="valor" id="valor">
        <br>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>