<!DOCTYPE html>
<html>
<link rel="stylesheet" href="\styles\style.css">

<head>
    <title>Resultado da Consulta</title>
</head>

<body>
    <h1>Resultado da Consulta</h1>
<% if (resultados.length> 0) { %>
    <ul>
        <% resultados.forEach(function(produto) { %>
            <li>
                Name: <%= produto.name %><br>
                    Valor: <%= produto.valor %>
            </li>
            <% }) %>
    </ul>
    <% } else { %>
        <p>Não achei produto nenhum.</p>
        <% } %>

</body>

</html>